.bg {
  position: relative;
}

.header {
    position: absolute;
    top: 23%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-family: OCR A Std;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    display: fixed;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
}

.settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: OCR A Std;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    display: fixed;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
}


.backArrow {
    position: absolute;
    top: 72%;
    left: 86.5%;
    transform: translate(-50%, -50%);
    font-family: OCR A Std;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    display: fixed;
    align-items: center;
    text-align: justify;
    color: #000000;
}